body{
  background: linear-gradient(90deg,rgb(196, 159, 222),rgb(226, 212, 236));
}

h1{
  color: rgb(94, 2, 160);
  font-size: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}
